html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #20242fd2;
}

.nav-link {
    color: #20242F;
    text-align: center;
}

.nav-link:hover {
    color: #BF8339;
}

.navbar-nav .nav-link.active {
    color: #BF8339;
}

.navbar .navbar-toggler-icon {
    background-color: #bf833900;
}

footer {
    margin-block-start: 40px;
    background-color: #FAFAFA;
}

.card {
    height: 250px;
    background-color: #FAFAFA;
}





/*кнопки пагинации*/
.btn-primary {
    margin-top: 30px;
    margin-right: 10px;
    width: 20rem;
    color: #ffffff;
    background-color: #BF8339;
    border-color: #BF8339;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #8C402E;
    border-color: #8C402E;
}


.d-grid button {
	border: none;
	border-radius: 2;
	background: #BF8339;
	width: 25rem;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

.d-grid button:hover {
	background-color: #8C402E;
}
