nav {
    background-color: #ffffff;
    border-bottom: 2px solid #20242fd2;
}

.nav-link {
    color: #20242F;
    text-align: center;
}

.nav-link:hover {
    color: #BF8339;
}

.navbar-nav .nav-link.active {
    color: #BF8339;
}

.navbar .navbar-toggler-icon {
    background-color: #bf833900;
}