html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
}

body {
    background: linear-gradient(0deg, #2D3C59 0%, #20242F 100%);
}

nav {
    background-color: #20242F;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-link {
    color: #B1B0B0;
    text-align: center;
}

.nav-link:hover {
    color: #FFFFFF;
}

.navbar-nav .nav-link.active {
    color: #FFFFFF;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
    margin-block-start: auto;
    background-color: #FAFAFA;
}

img {
    display: block;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cont {
    background-color: #FFFFFF;
}

p {
    margin-top: 60px;
}